{% load token_tags %}

<Html>
	
	
	<head>
		<title>Tokens</title>
	</head>
	
	<p>My Tokens:
	
	<ul>
		{% for token in my_tokens %}
		    <li>{{ token.name }} ({{token.get_current_state.name}})
		    	{% if_has_permission_for_object token view %}
		    		<a href="">view</a>
		    	{% else %}
		    		
		    	{% end_if_has_permission_for_object %}
		    	
		    	
		    	{% if_has_permission_for_object token edit %}
		    		<a href="">edit</a>
		    	{% else %}
		    		
		    	{% end_if_has_permission_for_object %}
		    	
		    	{% if_has_permission_for_object token submit %}
		    		<a href="{%  url submit_view token=token.id  %}">submit</a>
		    	{% else %}
		    		
		    	{% end_if_has_permission_for_object %}
		    	
		    </li>
		{% endfor %}
		
		
		
	</ul>
	
	</p>
	
	<p>My Supervisee Tokens:
	
	<ul>
		{% for token in supervisee_tokens %}
		    <li>{{ token.name }} {{token.get_current_state}}
		    	
		    	
		    	{% if_has_permission_for_object token view %}
		    		<a href="">view</a>
		    	{% else %}
		    		
		    	{% end_if_has_permission_for_object %}
		    	
		    	
		    	{% if_has_permission_for_object token edit %}
		    		<a href="">edit</a>
		    	{% else %}
		    		
		    	{% end_if_has_permission_for_object %}
		    	
		    	{% if_has_permission_for_object token evaluate %}
		    		<a href="{%  url approve_view token=token.id  %}">approve</a>
		    		<a href="{%  url reject_view token=token.id  %}">reject</a>
		    	{% else %}
		    		
		    	{% end_if_has_permission_for_object %}
			    	
		    </li>
		{% endfor %}
		
		
		
	</ul>
	
	</p>
	
	
	<a href="{% url logout_view %}">Logout!</a>
</Html>