{% load token_tags %}

<Html>
	
	
	<head>
		<title>Tokens</title>
	</head>
	
	<p>My Tokens:
	
	<ul>
		{% for token in my_tokens %}
		    <li>{{ token.name }} ({{token.get_current_state.name}})
		    	{% if_has_permission_for_object token view %}
		    		<a href="">view</a>
		    	{% end_if_has_permission_for_object %}
		    	
		    	
		    	{% if_has_permission_for_object token edit %}
		    		<a href="">edit</a>
		    	{% end_if_has_permission_for_object %}
		    	
		    	
		    	{% can_make_transition token token_submission %}
		    		<a href="{%  url submit_view token=token.id  %}">submit</a>
		    	{% end_can_make_transition %}
		    	
		    </li>
		{% endfor %}
		
		
		
	</ul>
	
	</p>
	
	<p>My Supervisee Tokens:
	
	<ul>
		{% for token in supervisee_tokens %}
		    <li>{{ token.name }} ({{token.get_current_state.name}})
		    	
		    	
		    	{% if_has_permission_for_object token view %}
		    		<a href="">view</a>
		    	{% end_if_has_permission_for_object %}
		    	
		    	
		    	{% if_has_permission_for_object token edit %}
		    		<a href="">edit</a>
		    	{% end_if_has_permission_for_object %}
		    	
		    	
		    	{% can_make_transition token approved %}
		    		<a href="{%  url approve_view token=token.id  %}">approve</a>
		    	{% end_can_make_transition %}
		    	
		    	{% can_make_transition token rejected %}
		    		<a href="{%  url reject_view token=token.id  %}">reject</a>
		    	{% end_can_make_transition %}
			    	
		    </li>
		{% endfor %}
		
		
		
	</ul>
	
	</p>
	
	<p><a href="{% url create_view %}">Create new token</a></p>
	<p><a href="{% url logout_view %}">Logout!</a></p>
</Html>